<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
    xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">

    <http>
        <!-- User -->
        <intercept-url pattern="/users"
            access="hasRole('ADMIN')" />
        <intercept-url pattern="/users/destroy/*"
            access="hasRole('ADMIN')" />
        <intercept-url pattern="/users/search"
            access="hasRole('ADMIN')" />
        <intercept-url pattern="/users/edit"
            access="hasRole('USER')" />
        <intercept-url pattern="/users/update"
            access="hasRole('USER')" />
        <!-- Post -->
        <intercept-url pattern="/posts"
            access="hasAnyRole('USER','ADMIN')" />
        <intercept-url pattern="/posts/search"
            access="hasAnyRole('USER','ADMIN')" />  
        <intercept-url pattern="/posts/create"
            access="hasRole('USER')" />
        <intercept-url pattern="/posts/store"
            access="hasRole('USER')" />
        <intercept-url pattern="/posts/edit/*"
            access="hasRole('USER')" />
        <intercept-url pattern="/posts/update/*"
            access="hasRole('USER')" />
        <intercept-url pattern="/posts/destroy/*"
            access="hasRole('USER')" />
        <intercept-url pattern="/posts/excel/export"
            access="hasRole('ADMIN')" />    
        <!-- <intercept-url pattern="/**"
             access="isAuthenticated()"/> -->

        <form-login login-page="/login"
            login-processing-url="/loginCheck"
            authentication-failure-url="/login?error"
            username-parameter="useremail" password-parameter="password"
            default-target-url="/home" />
        <logout logout-url="/logout"
            logout-success-url="/login" invalidate-session="true"/>
        <remember-me key="uniqueAndSecret" user-service-ref="userService"
            remember-me-parameter="remember-me"
            remember-me-cookie="rememberMeCookie"/>
        <access-denied-handler error-page="/error" />
    </http>

    <authentication-manager>
        <authentication-provider
            user-service-ref="userService">
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>  